/****** Object:  Database [ReplyCart]    Script Date: 02-06-2026 13:24:43 ******/
CREATE DATABASE [ReplyCart]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbandonedCarts]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbandonedCarts](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[CustomerPhone] [nvarchar](30) NULL,
	[CustomerEmail] [nvarchar](200) NULL,
	[CartItemsJson] [nvarchar](max) NOT NULL,
	[CartTotal] [decimal](18, 2) NOT NULL,
	[ItemCount] [int] NOT NULL,
	[StoreSlug] [nvarchar](100) NOT NULL,
	[IsRecovered] [bit] NOT NULL,
	[LastReminderSentAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_AbandonedCarts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AiSuggestions]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AiSuggestions](
	[Id] [uniqueidentifier] NOT NULL,
	[LeadId] [uniqueidentifier] NULL,
	[Prompt] [nvarchar](max) NOT NULL,
	[SuggestedReply] [nvarchar](max) NOT NULL,
	[ToneMode] [nvarchar](max) NOT NULL,
	[Provider] [nvarchar](max) NOT NULL,
	[Channel] [nvarchar](max) NULL,
	[WasUsed] [bit] NOT NULL,
	[WasEdited] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_AiSuggestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AiUsageLogs]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AiUsageLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[RequestType] [nvarchar](max) NOT NULL,
	[TokensUsed] [int] NOT NULL,
	[Provider] [nvarchar](max) NOT NULL,
	[WasSuccessful] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_AiUsageLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutoCampaigns]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoCampaigns](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[GeneratedCaption] [nvarchar](max) NOT NULL,
	[GeneratedHashtags] [nvarchar](500) NOT NULL,
	[GeneratedCta] [nvarchar](200) NOT NULL,
	[GeneratedImageUrl] [nvarchar](500) NULL,
	[PostedToInstagram] [bit] NOT NULL,
	[InstagramPostId] [nvarchar](100) NULL,
	[PostedToFacebook] [bit] NOT NULL,
	[FacebookPostId] [nvarchar](100) NULL,
	[SentViaWhatsAppBroadcast] [bit] NOT NULL,
	[WhatsAppRecipientsCount] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ErrorLog] [nvarchar](max) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_AutoCampaigns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Businesses]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Businesses](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[LogoUrl] [nvarchar](max) NULL,
	[BannerUrl] [nvarchar](max) NULL,
	[WhatsAppNumber] [nvarchar](max) NULL,
	[InstagramHandle] [nvarchar](max) NULL,
	[FacebookPageUrl] [nvarchar](max) NULL,
	[DeliveryInfo] [nvarchar](max) NULL,
	[Currency] [nvarchar](max) NOT NULL,
	[BusinessHours] [nvarchar](max) NULL,
	[WelcomeText] [nvarchar](max) NULL,
	[IsOnboardingComplete] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[WhatsAppAccessToken] [nvarchar](max) NULL,
	[WhatsAppPhoneNumberId] [nvarchar](max) NULL,
	[FacebookPageAccessToken] [nvarchar](max) NULL,
	[FacebookPageId] [nvarchar](max) NULL,
	[InstagramAccessToken] [nvarchar](max) NULL,
	[InstagramAccountId] [nvarchar](max) NULL,
	[RazorpayKeyId] [nvarchar](max) NULL,
	[RazorpayKeySecret] [nvarchar](max) NULL,
	[WhatsAppCatalogId] [nvarchar](max) NULL,
	[PaymentGateway] [nvarchar](20) NOT NULL,
	[StripeSecretKey] [nvarchar](max) NULL,
	[PayPalClientId] [nvarchar](max) NULL,
	[PayPalClientSecret] [nvarchar](max) NULL,
	[PayPalSandbox] [bit] NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[Language] [nvarchar](10) NOT NULL,
	[AutoReplyEnabled] [bit] NOT NULL,
	[AutoReplyTone] [nvarchar](20) NOT NULL,
	[AiStoreContext] [nvarchar](max) NULL,
	[AutoCampaignEnabled] [bit] NOT NULL,
	[WhatsAppWabaId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Businesses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampaignRecipients]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampaignRecipients](
	[Id] [uniqueidentifier] NOT NULL,
	[CampaignId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsSent] [bit] NOT NULL,
	[SentAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CampaignRecipients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaigns]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaigns](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[ScheduledAt] [datetime2](7) NULL,
	[SentAt] [datetime2](7) NULL,
	[RecipientCount] [int] NOT NULL,
	[SentCount] [int] NOT NULL,
	[OpenedCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Campaigns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatbotClients]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatbotClients](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[BusinessDesc] [nvarchar](max) NOT NULL,
	[ApiKey] [nvarchar](100) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[Language] [nvarchar](10) NOT NULL,
	[WebhookUrl] [nvarchar](500) NULL,
	[ContactEmail] [nvarchar](200) NULL,
	[ContactPhone] [nvarchar](50) NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[WelcomeMessage] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[WaPhoneNumberId] [nvarchar](100) NULL,
	[WaAccessToken] [nvarchar](max) NULL,
	[WaPhoneNumber] [nvarchar](50) NULL,
	[WaBusinessId] [nvarchar](100) NULL,
	[FbPageId] [nvarchar](100) NULL,
	[FbPageAccessToken] [nvarchar](max) NULL,
	[IgAccountId] [nvarchar](100) NULL,
	[IgAccessToken] [nvarchar](max) NULL,
	[ShopifyDomain] [nvarchar](200) NULL,
	[ShopifyApiKey] [nvarchar](200) NULL,
	[LastShopifySync] [datetime2](7) NULL,
 CONSTRAINT [PK_ChatbotClients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ChatbotClients_ApiKey] UNIQUE NONCLUSTERED 
(
	[ApiKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatbotProducts]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatbotProducts](
	[Id] [uniqueidentifier] NOT NULL,
	[ClientId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[Variants] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Category] [nvarchar](100) NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ChatbotProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationSessions]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationSessions](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[ExternalCustomerId] [nvarchar](100) NOT NULL,
	[Channel] [nvarchar](20) NOT NULL,
	[State] [int] NOT NULL,
	[CollectedName] [nvarchar](100) NULL,
	[CollectedPhone] [nvarchar](20) NULL,
	[CollectedAddress] [nvarchar](500) NULL,
	[CollectedEmail] [nvarchar](200) NULL,
	[InterestedProductId] [uniqueidentifier] NULL,
	[CartJson] [nvarchar](max) NOT NULL,
	[MessagesJson] [nvarchar](max) NOT NULL,
	[LastMessageAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LeadId] [uniqueidentifier] NULL,
	[OrderId] [uniqueidentifier] NULL,
	[MessageCount] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ConversationSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Type] [int] NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[MinOrderAmount] [decimal](18, 2) NULL,
	[MaxUses] [int] NULL,
	[UsedCount] [int] NOT NULL,
	[ValidFrom] [datetime2](7) NULL,
	[ValidTo] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[BuyQuantity] [int] NULL,
	[GetQuantity] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[PreferredChannel] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[LastOrderDate] [datetime2](7) NULL,
	[TotalOrders] [int] NOT NULL,
	[TotalSpend] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[Birthday] [date] NULL,
	[Anniversary] [date] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandingPageConfigs]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandingPageConfigs](
	[Id] [uniqueidentifier] NOT NULL,
	[ContentJson] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LandingPageConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeadActivities]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeadActivities](
	[Id] [uniqueidentifier] NOT NULL,
	[LeadId] [uniqueidentifier] NOT NULL,
	[ActivityType] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PerformedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LeadActivities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeadNotes]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeadNotes](
	[Id] [uniqueidentifier] NOT NULL,
	[LeadId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LeadNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[CustomerPhone] [nvarchar](20) NULL,
	[CustomerEmail] [nvarchar](300) NULL,
	[SourceChannel] [int] NOT NULL,
	[InterestedProductId] [uniqueidentifier] NULL,
	[InquiryNote] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[AssignedUserId] [uniqueidentifier] NULL,
	[FollowUpDate] [datetime2](7) NULL,
	[Tags] [nvarchar](max) NULL,
	[Priority] [int] NOT NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Leads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[ProductTitle] [nvarchar](max) NOT NULL,
	[VariantInfo] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[SourceLeadId] [uniqueidentifier] NULL,
	[Status] [int] NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[SourceChannel] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[Notes] [nvarchar](max) NULL,
	[AssignedUserId] [uniqueidentifier] NULL,
	[CustomerName] [nvarchar](200) NULL,
	[CustomerPhone] [nvarchar](20) NULL,
	[DeliveryAddress] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusHistories]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistories](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[FromStatus] [int] NOT NULL,
	[ToStatus] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[ChangedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_OrderStatusHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Method] [nvarchar](max) NOT NULL,
	[ReferenceNumber] [nvarchar](max) NULL,
	[PaidAt] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlatformLeads]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatformLeads](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[BusinessType] [nvarchar](100) NULL,
	[ProductCount] [nvarchar](50) NULL,
	[Message] [nvarchar](1000) NULL,
	[Source] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[AdminNotes] [nvarchar](2000) NULL,
	[IpAddress] [nvarchar](64) NULL,
	[UtmSource] [nvarchar](200) NULL,
	[UtmMedium] [nvarchar](200) NULL,
	[UtmCampaign] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlatformSettings]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatformSettings](
	[Id] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PlatformSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[AltText] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[ReviewerName] [nvarchar](100) NOT NULL,
	[ReviewerEmail] [nvarchar](200) NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[IsApproved] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ProductReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Sku] [nvarchar](100) NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[DiscountedPrice] [decimal](18, 2) NULL,
	[Status] [int] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[StockQuantity] [int] NULL,
	[SortOrder] [int] NOT NULL,
	[Attributes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[IsB2BOnly] [bit] NOT NULL,
	[MinOrderQuantity] [int] NULL,
	[MaxOrderQuantity] [int] NULL,
	[Slug] [nvarchar](200) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTags]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTags](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Tag] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ProductTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[PriceAdjustment] [decimal](18, 2) NULL,
	[StockQuantity] [int] NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ProductVariants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductWholesaleTiers]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductWholesaleTiers](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[MinQuantity] [int] NOT NULL,
	[MaxQuantity] [int] NULL,
	[PricePerUnit] [decimal](18, 2) NOT NULL,
	[Label] [nvarchar](max) NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ProductWholesaleTiers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuoteRequests]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteRequests](
	[Id] [uniqueidentifier] NOT NULL,
	[StorefrontCustomerId] [uniqueidentifier] NULL,
	[ContactName] [nvarchar](max) NOT NULL,
	[ContactEmail] [nvarchar](max) NOT NULL,
	[ContactPhone] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[GstNumber] [nvarchar](max) NULL,
	[ItemsJson] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[MerchantReply] [nvarchar](max) NULL,
	[RepliedAt] [datetime2](7) NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_QuoteRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplyTemplates]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplyTemplates](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[ToneMode] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ReplyTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialLinks]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialLinks](
	[Id] [uniqueidentifier] NOT NULL,
	[BusinessId] [uniqueidentifier] NOT NULL,
	[Platform] [int] NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SocialLinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StorefrontCustomers]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorefrontCustomers](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[PinCode] [nvarchar](max) NULL,
	[IsB2BCustomer] [bit] NOT NULL,
	[IsB2BApproved] [bit] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[GstNumber] [nvarchar](max) NULL,
	[LoyaltyPoints] [int] NOT NULL,
	[LinkedCrmCustomerId] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_StorefrontCustomers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StorefrontPages]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorefrontPages](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[ShowInNav] [bit] NOT NULL,
	[ShowInFooter] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_StorefrontPages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StorefrontPages_TenantSlug] UNIQUE NONCLUSTERED 
(
	[TenantId] ASC,
	[Slug] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StorefrontSettings]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorefrontSettings](
	[Id] [uniqueidentifier] NOT NULL,
	[BusinessId] [uniqueidentifier] NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[ThemeColor] [nvarchar](max) NOT NULL,
	[SeoTitle] [nvarchar](max) NULL,
	[SeoDescription] [nvarchar](max) NULL,
	[WhatsAppCtaLabel] [nvarchar](max) NOT NULL,
	[InstagramCtaLabel] [nvarchar](max) NOT NULL,
	[FacebookCtaLabel] [nvarchar](max) NOT NULL,
	[ShowOutOfStockProducts] [bit] NOT NULL,
	[AllowPublicInquiries] [bit] NOT NULL,
	[CustomCss] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[AnnouncementText] [nvarchar](500) NULL,
	[SecondaryColor] [nvarchar](20) NOT NULL,
	[AccentColor] [nvarchar](20) NULL,
	[GA4MeasurementId] [nvarchar](50) NULL,
	[GA4PropertyId] [nvarchar](50) NULL,
	[GA4ServiceAccountJson] [nvarchar](max) NULL,
	[GA4RefreshToken] [nvarchar](max) NULL,
	[FaviconUrl] [nvarchar](max) NULL,
	[LoaderEnabled] [bit] NOT NULL,
	[SeoKeywords] [nvarchar](max) NULL,
	[ReturnPolicy] [nvarchar](max) NULL,
 CONSTRAINT [PK_StorefrontSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StorefrontWishlistItems]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorefrontWishlistItems](
	[Id] [uniqueidentifier] NOT NULL,
	[StorefrontCustomerId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_StorefrontWishlistItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPlans]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPlans](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[MonthlyPrice] [decimal](18, 2) NOT NULL,
	[AnnualPrice] [decimal](18, 2) NOT NULL,
	[MaxProducts] [int] NOT NULL,
	[MaxStaffUsers] [int] NOT NULL,
	[MaxMonthlyLeads] [int] NOT NULL,
	[MaxAiSuggestionsPerMonth] [int] NOT NULL,
	[AllowsCustomBranding] [bit] NOT NULL,
	[AllowsAdvancedAnalytics] [bit] NOT NULL,
	[AllowsAiSuggestions] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SubscriptionPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemAnnouncements]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAnnouncements](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[TargetPlan] [nvarchar](max) NULL,
	[AnnouncementType] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SystemAnnouncements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TenantNotes]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantNotes](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TenantNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenants]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenants](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[ContactEmail] [nvarchar](300) NOT NULL,
	[ContactPhone] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CustomDomain] [nvarchar](253) NULL,
	[CustomDomainStatus] [nvarchar](20) NULL,
	[CloudflareHostnameId] [nvarchar](100) NULL,
	[CustomDomainVerifiedAt] [datetime2](7) NULL,
	[CloudflareWorkerRouteId] [nvarchar](100) NULL,
	[CloudflareZoneId] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tenants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TenantSubscriptions]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantSubscriptions](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[PlanId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[IsAnnual] [bit] NOT NULL,
	[PricePaid] [decimal](18, 2) NOT NULL,
	[ExternalPaymentId] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TenantSubscriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRefreshTokens]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRefreshTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[TokenHash] [nvarchar](max) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[RevokedReason] [nvarchar](max) NULL,
	[DeviceInfo] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_UserRefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](300) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TotpSecret] [nvarchar](64) NULL,
	[IsTwoFactorEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[TokenHash] [nvarchar](512) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaTemplates]    Script Date: 02-06-2026 13:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaTemplates](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Language] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[HeaderText] [nvarchar](max) NULL,
	[FooterText] [nvarchar](max) NULL,
	[VariablesJson] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[MetaTemplateId] [nvarchar](max) NULL,
	[MetaStatus] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AbandonedCarts_TenantId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_AbandonedCarts_TenantId] ON [dbo].[AbandonedCarts]
(
	[TenantId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AutoCampaigns_ProductId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_AutoCampaigns_ProductId] ON [dbo].[AutoCampaigns]
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AutoCampaigns_TenantId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_AutoCampaigns_TenantId] ON [dbo].[AutoCampaigns]
(
	[TenantId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CampaignRecipients_CampaignId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_CampaignRecipients_CampaignId] ON [dbo].[CampaignRecipients]
(
	[CampaignId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConversationSessions_TenantId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_ConversationSessions_TenantId] ON [dbo].[ConversationSessions]
(
	[TenantId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ConversationSessions_TenantId_ExternalCustomerId_Channel_IsActive]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_ConversationSessions_TenantId_ExternalCustomerId_Channel_IsActive] ON [dbo].[ConversationSessions]
(
	[TenantId] ASC,
	[ExternalCustomerId] ASC,
	[Channel] ASC,
	[IsActive] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Coupons_TenantId_Code]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Coupons_TenantId_Code] ON [dbo].[Coupons]
(
	[TenantId] ASC,
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeadActivities_LeadId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_LeadActivities_LeadId] ON [dbo].[LeadActivities]
(
	[LeadId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeadNotes_LeadId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_LeadNotes_LeadId] ON [dbo].[LeadNotes]
(
	[LeadId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Leads_TenantId_CreatedAt]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Leads_TenantId_CreatedAt] ON [dbo].[Leads]
(
	[TenantId] ASC,
	[CreatedAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Leads_TenantId_FollowUpDate]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Leads_TenantId_FollowUpDate] ON [dbo].[Leads]
(
	[TenantId] ASC,
	[FollowUpDate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Leads_TenantId_Status_AssignedUserId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Leads_TenantId_Status_AssignedUserId] ON [dbo].[Leads]
(
	[TenantId] ASC,
	[Status] ASC,
	[AssignedUserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_OrderNumber]    Script Date: 02-06-2026 13:24:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Orders_OrderNumber] ON [dbo].[Orders]
(
	[OrderNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_TenantId_CustomerId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_TenantId_CustomerId] ON [dbo].[Orders]
(
	[TenantId] ASC,
	[CustomerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_TenantId_Status_CreatedAt]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_TenantId_Status_CreatedAt] ON [dbo].[Orders]
(
	[TenantId] ASC,
	[Status] ASC,
	[CreatedAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderStatusHistories_OrderId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_OrderStatusHistories_OrderId] ON [dbo].[OrderStatusHistories]
(
	[OrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_OrderId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_OrderId] ON [dbo].[Payments]
(
	[OrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlatformLeads_Created]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_PlatformLeads_Created] ON [dbo].[PlatformLeads]
(
	[CreatedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PlatformLeads_Email]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_PlatformLeads_Email] ON [dbo].[PlatformLeads]
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PlatformLeads_Status]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_PlatformLeads_Status] ON [dbo].[PlatformLeads]
(
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PlatformSettings_Key]    Script Date: 02-06-2026 13:24:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PlatformSettings_Key] ON [dbo].[PlatformSettings]
(
	[Key] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImages_ProductId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_ProductId] ON [dbo].[ProductImages]
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductReviews_ProductId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_ProductReviews_ProductId] ON [dbo].[ProductReviews]
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_TenantId_CategoryId_Status]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Products_TenantId_CategoryId_Status] ON [dbo].[Products]
(
	[TenantId] ASC,
	[CategoryId] ASC,
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_TenantId_IsDeleted_CreatedAt]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Products_TenantId_IsDeleted_CreatedAt] ON [dbo].[Products]
(
	[TenantId] ASC,
	[IsDeleted] ASC,
	[CreatedAt] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_TenantId_Slug]    Script Date: 02-06-2026 13:24:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Products_TenantId_Slug] ON [dbo].[Products]
(
	[TenantId] ASC,
	[Slug] ASC
)
WHERE ([Slug] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_TenantId_Status]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Products_TenantId_Status] ON [dbo].[Products]
(
	[TenantId] ASC,
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductTags_ProductId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_ProductTags_ProductId] ON [dbo].[ProductTags]
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariants_ProductId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariants_ProductId] ON [dbo].[ProductVariants]
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductWholesaleTiers_ProductId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_ProductWholesaleTiers_ProductId] ON [dbo].[ProductWholesaleTiers]
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SocialLinks_BusinessId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_SocialLinks_BusinessId] ON [dbo].[SocialLinks]
(
	[BusinessId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StorefrontCustomers_TenantId_Email]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_StorefrontCustomers_TenantId_Email] ON [dbo].[StorefrontCustomers]
(
	[TenantId] ASC,
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StorefrontPages_TenantId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_StorefrontPages_TenantId] ON [dbo].[StorefrontPages]
(
	[TenantId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StorefrontSettings_BusinessId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StorefrontSettings_BusinessId] ON [dbo].[StorefrontSettings]
(
	[BusinessId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StorefrontWishlistItems_StorefrontCustomerId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_StorefrontWishlistItems_StorefrontCustomerId] ON [dbo].[StorefrontWishlistItems]
(
	[StorefrontCustomerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tenants_ContactEmail]    Script Date: 02-06-2026 13:24:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Tenants_ContactEmail] ON [dbo].[Tenants]
(
	[ContactEmail] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tenants_CustomDomain]    Script Date: 02-06-2026 13:24:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Tenants_CustomDomain] ON [dbo].[Tenants]
(
	[CustomDomain] ASC
)
WHERE ([CustomDomain] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tenants_Slug]    Script Date: 02-06-2026 13:24:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Tenants_Slug] ON [dbo].[Tenants]
(
	[Slug] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantSubscriptions_PlanId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_TenantSubscriptions_PlanId] ON [dbo].[TenantSubscriptions]
(
	[PlanId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TenantSubscriptions_TenantId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_TenantSubscriptions_TenantId] ON [dbo].[TenantSubscriptions]
(
	[TenantId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRefreshTokens_UserId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_UserRefreshTokens_UserId] ON [dbo].[UserRefreshTokens]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_UserId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_UserId] ON [dbo].[UserRoles]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 02-06-2026 13:24:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_TenantId_IsActive]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_Users_TenantId_IsActive] ON [dbo].[Users]
(
	[TenantId] ASC,
	[IsActive] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserTokens_TokenHash]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_UserTokens_TokenHash] ON [dbo].[UserTokens]
(
	[TokenHash] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTokens_UserId]    Script Date: 02-06-2026 13:24:43 ******/
CREATE NONCLUSTERED INDEX [IX_UserTokens_UserId] ON [dbo].[UserTokens]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AbandonedCarts] ADD  DEFAULT ((0)) FOR [IsRecovered]
GO
ALTER TABLE [dbo].[AbandonedCarts] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT ('') FOR [ProductName]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT ('') FOR [GeneratedCaption]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT ('') FOR [GeneratedHashtags]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT ('') FOR [GeneratedCta]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT ((0)) FOR [PostedToInstagram]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT ((0)) FOR [PostedToFacebook]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT ((0)) FOR [SentViaWhatsAppBroadcast]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT ((0)) FOR [WhatsAppRecipientsCount]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AutoCampaigns] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Businesses] ADD  DEFAULT ('Razorpay') FOR [PaymentGateway]
GO
ALTER TABLE [dbo].[Businesses] ADD  DEFAULT ((0)) FOR [PayPalSandbox]
GO
ALTER TABLE [dbo].[Businesses] ADD  DEFAULT ('India') FOR [Country]
GO
ALTER TABLE [dbo].[Businesses] ADD  DEFAULT ('en') FOR [Language]
GO
ALTER TABLE [dbo].[Businesses] ADD  DEFAULT ((0)) FOR [AutoReplyEnabled]
GO
ALTER TABLE [dbo].[Businesses] ADD  DEFAULT ('Friendly') FOR [AutoReplyTone]
GO
ALTER TABLE [dbo].[Businesses] ADD  DEFAULT ((0)) FOR [AutoCampaignEnabled]
GO
ALTER TABLE [dbo].[ChatbotClients] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ChatbotClients] ADD  DEFAULT (N'') FOR [BusinessDesc]
GO
ALTER TABLE [dbo].[ChatbotClients] ADD  DEFAULT (N'INR') FOR [Currency]
GO
ALTER TABLE [dbo].[ChatbotClients] ADD  DEFAULT (N'en') FOR [Language]
GO
ALTER TABLE [dbo].[ChatbotClients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ChatbotClients] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatbotProducts] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ChatbotProducts] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[ChatbotProducts] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[ChatbotProducts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT ('WhatsApp') FOR [Channel]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT ('[]') FOR [CartJson]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT ('[]') FOR [MessagesJson]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT (getutcdate()) FOR [LastMessageAt]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT ((0)) FOR [MessageCount]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ConversationSessions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LandingPageConfigs] ADD  DEFAULT ('{}') FOR [ContentJson]
GO
ALTER TABLE [dbo].[PlatformLeads] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[PlatformLeads] ADD  DEFAULT ('chatbot') FOR [Source]
GO
ALTER TABLE [dbo].[PlatformLeads] ADD  DEFAULT ('new') FOR [Status]
GO
ALTER TABLE [dbo].[PlatformLeads] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsB2BOnly]
GO
ALTER TABLE [dbo].[ProductWholesaleTiers] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ProductWholesaleTiers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[QuoteRequests] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[QuoteRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[QuoteRequests] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[StorefrontCustomers] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[StorefrontCustomers] ADD  DEFAULT ((0)) FOR [IsB2BCustomer]
GO
ALTER TABLE [dbo].[StorefrontCustomers] ADD  DEFAULT ((0)) FOR [IsB2BApproved]
GO
ALTER TABLE [dbo].[StorefrontCustomers] ADD  DEFAULT ((0)) FOR [LoyaltyPoints]
GO
ALTER TABLE [dbo].[StorefrontCustomers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[StorefrontPages] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[StorefrontPages] ADD  DEFAULT (N'') FOR [Content]
GO
ALTER TABLE [dbo].[StorefrontPages] ADD  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[StorefrontPages] ADD  DEFAULT ((0)) FOR [ShowInNav]
GO
ALTER TABLE [dbo].[StorefrontPages] ADD  DEFAULT ((0)) FOR [ShowInFooter]
GO
ALTER TABLE [dbo].[StorefrontPages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[StorefrontPages] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StorefrontSettings] ADD  DEFAULT ('#134E4A') FOR [SecondaryColor]
GO
ALTER TABLE [dbo].[StorefrontSettings] ADD  DEFAULT ((1)) FOR [LoaderEnabled]
GO
ALTER TABLE [dbo].[StorefrontWishlistItems] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[StorefrontWishlistItems] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsTwoFactorEnabled]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[WaTemplates] ADD  DEFAULT ('LOCAL') FOR [MetaStatus]
GO
ALTER TABLE [dbo].[CampaignRecipients]  WITH CHECK ADD  CONSTRAINT [FK_CampaignRecipients_Campaigns_CampaignId] FOREIGN KEY([CampaignId])
REFERENCES [dbo].[Campaigns] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CampaignRecipients] CHECK CONSTRAINT [FK_CampaignRecipients_Campaigns_CampaignId]
GO
ALTER TABLE [dbo].[ChatbotProducts]  WITH CHECK ADD  CONSTRAINT [FK_ChatbotProducts_ChatbotClients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[ChatbotClients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatbotProducts] CHECK CONSTRAINT [FK_ChatbotProducts_ChatbotClients]
GO
ALTER TABLE [dbo].[LeadActivities]  WITH CHECK ADD  CONSTRAINT [FK_LeadActivities_Leads_LeadId] FOREIGN KEY([LeadId])
REFERENCES [dbo].[Leads] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeadActivities] CHECK CONSTRAINT [FK_LeadActivities_Leads_LeadId]
GO
ALTER TABLE [dbo].[LeadNotes]  WITH CHECK ADD  CONSTRAINT [FK_LeadNotes_Leads_LeadId] FOREIGN KEY([LeadId])
REFERENCES [dbo].[Leads] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeadNotes] CHECK CONSTRAINT [FK_LeadNotes_Leads_LeadId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderStatusHistories]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusHistories_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderStatusHistories] CHECK CONSTRAINT [FK_OrderStatusHistories_Orders_OrderId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders_OrderId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_ProductTags_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_ProductTags_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductWholesaleTiers]  WITH CHECK ADD  CONSTRAINT [FK_ProductWholesaleTiers_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductWholesaleTiers] CHECK CONSTRAINT [FK_ProductWholesaleTiers_Products]
GO
ALTER TABLE [dbo].[SocialLinks]  WITH CHECK ADD  CONSTRAINT [FK_SocialLinks_Businesses_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Businesses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SocialLinks] CHECK CONSTRAINT [FK_SocialLinks_Businesses_BusinessId]
GO
ALTER TABLE [dbo].[StorefrontSettings]  WITH CHECK ADD  CONSTRAINT [FK_StorefrontSettings_Businesses_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Businesses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StorefrontSettings] CHECK CONSTRAINT [FK_StorefrontSettings_Businesses_BusinessId]
GO
ALTER TABLE [dbo].[StorefrontWishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_StorefrontWishlistItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StorefrontWishlistItems] CHECK CONSTRAINT [FK_StorefrontWishlistItems_Products]
GO
ALTER TABLE [dbo].[StorefrontWishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_StorefrontWishlistItems_StorefrontCustomers] FOREIGN KEY([StorefrontCustomerId])
REFERENCES [dbo].[StorefrontCustomers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StorefrontWishlistItems] CHECK CONSTRAINT [FK_StorefrontWishlistItems_StorefrontCustomers]
GO
ALTER TABLE [dbo].[TenantSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_TenantSubscriptions_SubscriptionPlans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[SubscriptionPlans] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TenantSubscriptions] CHECK CONSTRAINT [FK_TenantSubscriptions_SubscriptionPlans_PlanId]
GO
ALTER TABLE [dbo].[TenantSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_TenantSubscriptions_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TenantSubscriptions] CHECK CONSTRAINT [FK_TenantSubscriptions_Tenants_TenantId]
GO
ALTER TABLE [dbo].[UserRefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserRefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRefreshTokens] CHECK CONSTRAINT [FK_UserRefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Tenants_TenantId] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Tenants_TenantId]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users_UserId]
GO
